# Окружение Python
.venv/
venv/
env/
__pycache__/
*.pyc

# Настройки PyCharm (те самые файлы .idea, на которые ругался git)
.idea/
*.iml

# Конфиденциальные данные
.env

# Базы данных (чтобы не пушить локальную БД с тестовыми юзерами)
*.db
*.sqlite3

# Логи и временные файлы
*.log